version: '3'
services:
  cnefinder:
    env_file:
      - .env
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      # Docker Toolbox VirtualBox shared folder hack
      - /cnefinder/output:/output